body {
}

.squares{
}

.squares > div{
  display: inline-flex;
  justify-content: center;
  background-color: red;
  height:100px;
  width: 100px;
  border: 1px black solid;
}

.game {
  width: 50%;
}

.result {
  position: absolute;
  z-index: -20;
}